{% extends 'base.html' %} {% block content %}
<h1 class="mt-2">Techniques Index</h1>
<div class="row p-4">
  {% for technique in techniques %}
  <div class="card p-1" style="width: 20rem;">
    <img
      src="{{ technique.image_url}}"
      width="300"
      height="210"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ technique.name }}</h5>
      <p class="card-text">{{ technique.description }}</p>
    </div>
    <div class="card-text col-1">
      <a
        href="{% url 'technique_detail' technique.id %}"
        class="btn btn-secondary"
        >View</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
