{% extends 'base.html' %} {% block content %}
<div class="bg-dark shadow rounded overflow-hidden text-white">
  <div class="px-4 pt-0 pb-4">
    <h1 class="mt-2">Techniques Index</h1>
  </div>
</div>

<div class="card-deck p-3">
  {% for technique in techniques %}
  <div class="card shadow">
    <img
      class="card-img-top"
      src="{{ technique.image_url}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ technique.name }}</h5>
      <p class="card-text">{{ technique.description }}</p>
    </div>
    <div class="card-text col-1">
      <div class="btn-group pb-3">
        <a
          href="{% url 'technique_detail' technique.id %}"
          class="btn btn-secondary"
          >View</a
        >
        {% if user.is_authenticated %}
        <form
          action="{% url 'assoc_technique' profile.id technique.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Add</button>
        </form>
        {% else %}
        <button type="submit" class="btn btn-secondary" disabled>
          Nope
        </button>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
