{% extends 'base.html' %} {% block content %}
<div class="row p-3">
  <div class="col-md-12 blog-main">
    <h1 class="pb-4 mb-4 font-italic border-bottom">
      {{ technique.name }}
    </h1>

    <div class="blog-post">
      <h2 class="blog-post-title">Instructions</h2>
      <img src="{{ technique.image_url }}" alt="..." width="300" />
      <p>{{ technique.instructions}}</p>
      <p>
        1. This blog post shows a few different types of content that’s
        supported and styled with Bootstrap. Basic typography, images, and code
        are all supported. <br />
        2. This blog post shows a few different types of content that’s
        supported and styled with Bootstrap. Basic typography, images, and code
        are all supported.
      </p>
      <hr />
      <iframe
        width="560"
        height="315"
        src="{{ technique.video_url }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      {% endblock %}
    </div>
  </div>
</div>
