{% extends 'base.html' %} {% block content %}
<div
  class="bg-dark shadow rounded overflow-hidden text-white d-flex align-items-center justify-content-between mb-3"
>
  <div class="px-4 pt-0 pb-4">
    <h1 class="mb-0">{{playlist.name}}</h1>
    <a
      href="{% url 'delete_playlist' playlist.id %}"
      class="btn btn-link text-muted delete pl-0 pt-0"
      >Delete Playlist</a
    >
    <div style="clear: both;"></div>
    <div class="py-3">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="mb-0">Massage Timer:</h3>
        <h5 class="countdown pl-3" data-time="{{total_duration}}">
          {{total_duration}}
        </h5>
      </div>
    </div>
  </div>
</div>
<button class="startTime btn btn-outline-info" type="button">
  Start Playlist
</button>

<div class="row container d-flex">
  <div class="col-lg-12 col-xl-6 p-3" id="sortablelist">
    {% for playlist_technique in playlist_techniques.all %}
    <div class="card shadow">
      <div class="card-block p-b-0 pt-3" draggable="True">
        <div class="col-md-12">
          <div class="sortable-moves" data-lookup="{{playlist_technique.id}}">
            <form
              id="orderingForm"
              method="post"
              action="{% url 'save-group-oldering' %}"
            >
              {% csrf_token %}
              <input type="hidden" id="orderingIput" name="ordering" />
            </form>
            <img
              class="img-fluid p-absolute image-dim"
              src="{{ playlist_technique.technique.image_url}}"
              alt="Card image cap"
            />
            <h5>{{ playlist_technique.technique.name }}</h5>
            <p>{{ playlist_technique.technique.description }}</p>
            <p>Position: {{ playlist_technique.order }}</p>
            <p>
              Duration: {{ playlist_technique.duration }} min
            </p>
            <a
              href="{% url 'technique_detail' playlist_technique.technique.id %}"
              >View</a
            >
            <a href="{% url 'edit_playlist_item'  playlist_technique.id %}"
              >Edit</a
            >
            <a
              href="{% url 'delete_playlist_technique' playlist_technique.id %}"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
