{% extends 'base.html' %} {% block content %}
<div
  class="bg-dark shadow rounded overflow-hidden text-white d-flex align-items-center justify-content-between mb-3"
>
  <div class="px-4 pt-0 pb-4">
    <h1 class="mb-0">{{playlist.name}}</h1>
    <a
      href="{% url 'delete_playlist' playlist.id %}"
      class="btn btn-link text-muted"
      >Delete Playlist</a
    >
  </div>
</div>
<button class="startTime" type="button">Start Playlist</button>
<div class="card-deck p-3" style="max-width: 30rem;">
  {% for technique in playlist_techniques.all %}
  <div class="card shadow">
    <img
      class="card-img-top"
      src="{{ technique.technique.image_url}}"
      alt="Card image cap"
    />

    <div class="card-body">
      <h5 class="card-title">{{ technique.technique.name }}</h5>
      <p class="card-text">{{ technique.technique.description }}</p>
      <p class="card-text durations">Duration: {{ technique.duration }} min.</p>
      <p class="card-text">Order: {{ technique.order }}</p>
      <a href="{% url 'technique_detail' technique.technique.id %}">View</a>
    </div>
  </div>
  {% endfor %}
</div>
<p id="countdown">{{total_duration}}</p>

{% endblock %}
