{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Massage.ify</h1>

  <img
    class="divider"
    src="../static/Divider.png"
    alt="swoosh"
    style="max-width: 30rem;"
  />
  <p class="lead">
    Learn and calloborate with a community of people dedicated to health and living a pain free life. Whether you're looking how to self manage pain, or how to provide bodywork to another person, there's something for everyone.

Explore an instructional index of massage styles, approaches and specific techniques. Collect favorite moves, create playlists with different time intervals that can be used for all day reminders to take stretch breaks, or setup an hour to follow a massage/stretching protocal. Anything is possible.

Submit your own massage techniques to the community to share your knowledge!
  </p>
</div>
<div class="jumbotron  " style="background-color: #f8f9fa" >
  <div class="row">
    <div class="col-md-4">
      <h2>Getting started</h2>
      <p> Create a profile, start browsing the index of techniques. Add to your favorites and create a playlist with your favorites. You can use the massage timer from the playlist page, it will automatically be set depending on how long each technique is. Stay tuned for updates.</p>
    </div>
    <div class="col-md-4">
      <h2>Playlists</h2>
      <p>Once you have added texchniques to your favorites, head on back to your profile. From there create a playlist, then select which techniques you want to add, and how long each item will take(minutes). Go into your new playlist and start the timer to have it countdown for you. </p>
    </div>
    <div class="col-md-4">
      <h2>Explore</h2>
      <p>Check out a technique you want to learn about by selecting "view" on a technique card. You'll be taken to videos, instructional steps and images to learn more. </p>
    </div>
  </div>
</div>

{% endblock %}
