{% extends 'base.html' %} {% block content %}

<!-- Profile widget -->
<div class="bg-white shadow rounded overflow-hidden">
  <div class="px-4 pt-0 pb-4 bg-dark">
    <div class="media align-items-end profile-header">
      <div class="profile mr-3 pt-2">
        <img
          src="{{profile.image_url}}"
          alt="..."
          width="130"
          height="200"
          class="rounded mb-2 img-thumbnail"
        /><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a>
      </div>
      <div class="media-body mb-5 text-white">
        <h4 class="mt-0 mb-0">{{user.username}}</h4>
        <p class="small mb-4">San Francisco</p>
      </div>
    </div>
  </div>

  <div class="bg-light p-4 d-flex justify-content-end text-center">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">241</h5>
        <small class="text-muted">
          <i class="fa fa-picture-o mr-1"></i>Playlists</small
        >
      </li>
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">84K</h5>
        <small class="text-muted">
          <i class="fa fa-user-circle-o mr-1"></i>Followers</small
        >
      </li>
    </ul>
  </div>
</div>

  <div class="py-3 px-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Playlists</h5>
      <a href="{% url 'new_playlist' %}" class="btn btn-link text-muted pr-0">Add Playlist</a>
    </div>

    <div class="list-group ">
    {% for playlist in profile.playlist_set.all %}
      <a href="{% url 'playlist_detail' playlist.id %}" class="list-group-item list-group-item-action p-1 ">{{playlist.name}}</a>

      {% endfor %}
    </div>
  </div>
    <div class="d-flex align-items-center justify-content-between mb-3 py-3 px-3">
      <h3 class="mb-0 ">Favorites</h5>
      <a href="#" class="btn btn-link text-muted pr-0">Show all</a>
    </div>
    <div class="card-deck py-3 px-3" style="max-width:30rem">
        {% for favorite in profile.favorites.all %}
        <div class="card shadow" >
            <img
                class="card-img-top"

                src="{{ favorite.image_url}}"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">{{ favorite.name }}</h5>
                <p class="card-text">{{ favorite.description }}</p>
            </div>
            <div class="card-text col-1">
                <div class="btn-group pb-3 ">
                    <a href="{% url 'technique_detail' favorite.id %}" class="pr-1"
                   >View</a>
                    <a href="{% url 'delete_favorite' favorite.id %}" class="pr-1"
                    >Delete</a>
                    <a href="{% url 'assoc_playlist_item' favorite.id %}">Playlist</a>
                </div>
            </div>
          </div>
            {% endfor %}
      </div>




  <!-- End profile widget -->

  {% endblock %}
