{% extends 'base.html' %} {% block content %}

<!-- Profile widget -->
<div class="bg-white shadow rounded overflow-hidden">
  <div class="px-4 pt-0 pb-4 bg-dark">
    <div class="media align-items-end profile-header">
      <div class="profile mr-3 pt-2">
        <img
          src="{{profile.image_url}}"
          alt="..."
          width="130"
          height="200"
          class="rounded mb-2 img-thumbnail"
        /><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a>
      </div>
      <div class="media-body mb-5 text-white">
        <h4 class="mt-0 mb-0">{{user.username}}</h4>
        <p class="small mb-4">location</p>
      </div>
    </div>
  </div>

  <div class="bg-light p-4 d-flex justify-content-end text-center">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">241</h5>
        <small class="text-muted">
          <i class="fa fa-picture-o mr-1"></i>Playlists</small
        >
      </li>
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">84K</h5>
        <small class="text-muted">
          <i class="fa fa-user-circle-o mr-1"></i>Followers</small
        >
      </li>
    </ul>
  </div>
</div>

  <div class="py-4 px-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Playlists</h5>
      <a href="{% url 'new_playlist' %}" class="btn btn-primary">Add Playlist</a>
      <a href="#" class="btn btn-link text-muted">Show all</a>
    </div>

    <div class="list-group">
    {% for playlist in profile.playlist_set.all %}
      <a href="{% url 'playlist_detail' playlist.id %}" class="list-group-item list-group-item-action ">{{playlist.name}}</a>

      {% endfor %}
    </div>
    </div>
  </div>


    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Favorites</h5>
      <a href="#" class="btn btn-link text-muted">Show all</a>
    </div>
    <div class="card-deck p-3" style="max-width: 30rem">
        {% for favorite in profile.favorites.all %}
        <div class="card">
            <img
                class="card-img-top"
                src="{{ favorite.image_url}}"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">{{ favorite.name }}</h5>
                <p class="card-text">{{ favorite.description }}</p>
            </div>
            <div class="card-text col-1">
                <div class="btn-group pb-3">
                    <a href="{% url 'technique_detail' favorite.id %}"
                   >View</a>
                    <a href="{% url 'delete_favorite' favorite.id %}"
                    >Delete</a>
                    <a href="{% url 'assoc_playlist_item' favorite.id %}">Playlist</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="py-4">
      <h5 class="mb-3">Recent posts</h5>
      <div class="p-4 bg-light rounded shadow-sm">
        <p class="font-italic mb-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
        <ul class="list-inline small text-muted mt-3 mb-0">
          <li class="list-inline-item">
            <i class="fa fa-comment-o mr-2"></i>12 Comments
          </li>
          <li class="list-inline-item">
            <i class="fa fa-heart-o mr-2"></i>200 Likes
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- End profile widget -->

  {% endblock %}
