* {
  font-family: "Open Sans Condensed", sans-serif;
}
.navbar-brand {
  font-family: "Indie Flower", cursive;
}
.jumbotron {
  text-align: center;
}

.divider img {
  padding-left: 4.11111em;
}

.delete {
  float: left;
}

.countdown {
  margin-bottom: -0.5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e9ecef;
}
main {
  flex: 1 0 auto;
}
footer {
  padding-top: 0;
  text-align: center;
}

.helptext {
  color: crimson;
}

.sortable-moves {
  cursor: move;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  padding: 15px 0 15px 60px;
}

.sortable-moves {
  padding-left: 10.11111em;
  font-size: 14px;
  line-height: 1em;
  list-style-type: none;
  margin-bottom: 15px;
  min-height: 3.55556em;
  position: relative;
  cursor: move;
}

.sortable-moves img {
  position: absolute;

  height: 100px;
  width: 120px;
  left: 10px;
  border-radius: 5px;
  top: 15px;
}

.list-group-item {
  width: 95%;
  margin: 1% !important;
}

@media (min-width: 576px) {
  .list-group-item {
    width: 47%;
    margin: 5px 1.5% !important;
  }
}

@media (min-width: 768px) {
  .list-group-item {
    width: 31.333%;
    margin: 5px 1% !important;
  }
}

@media (min-width: 992px) {
  .list-group-item {
    width: 23%;
    margin: 5px 1% !important;
  }
}
